@import url("hidden.css");

.button {
    background-image: radial-gradient(rgb(126, 143, 255),rgb(162, 255, 162));
    width: 150px;
    height: 50px;
    transition: 300ms ease-in;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}


.button:hover {
    color: rgb(0, 0, 0);
    background-image: radial-gradient(rgb(126, 255, 147),rgb(162, 171, 255));
    transition: 300ms ease-out;
    cursor: pointer;
  }
  
.text-white {
    color: antiquewhite;
}

.text-black {
    color: black;
}

.u-white {
    color: antiquewhite;
}

.u-black {
    color: black;
}